body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe5cc; /* Color de fondo */
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ancho del contenedor */
}

#message-container {
    transition: opacity 0.5s ease-in-out;
    margin-bottom: 20px; /* Espacio entre la imagen/texto y el input */
}

#image {
    max-width: 100%;
    height: auto;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aqua;

}